body {
  background-color: #15b392;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: url('src/assets/img/fly.png'), pointer;
  margin: 0;
}

@font-face {
  font-family: 'JapanRich';
  src: url('@/assets/fonts/HOWDY LEMON.TTF');
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: white;
  font-family: 'JapanRich', sans-serif;
  text-align: center;
}
