body {
  background-color: #15b392;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  cursor: url('src/assets/img/fly.png'), pointer;
}

@font-face {
  font-family: 'JapanRich';
  src: url('@/assets/fonts/JapanRich-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: white;
  font-family: 'JapanRich', sans-serif;
}
